services:
  web:
    build: .
    container_name: rails_app
    volumes:
      - .:/rails
      - .:/app
      - bundle_data:/usr/local/bundle
    ports:
      - "3000:3000"
    depends_on:
      - db
    environment:
      DATABASE_HOST: db
      DATABASE_USER: postgres
      DATABASE_PASSWORD: postgres

  db:
    image: postgres:16
    container_name: rails_db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: store_development
    ports:
      - "5432:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data

  redis:
    image: redis:7
    ports:
      - "6379:6379"

  sidekiq:
    build: .
    depends_on:
      - redis
    environment:
      REDIS_URL: redis://redis:6379/0
    command: bundle exec sidekiq

volumes:
  pg_data:
  bundle_data:
